@use "base/variables" as v;
@use "base/mixins" as m;

.informacion {
  @include m.contenedor;

  &__grid {
    @include m.tablet {
      @include m.grid(2, 2rem);
      justify-content: center;
      align-items: center;
    }
  }
  &__imagen {
    display: none;
    @include m.tablet {
        display: block;
        width: 90%;
        height: auto;
    }
    @include m.desktop {
      width: 100%;
      height: 100%;
      display: block;
      margin: 2rem auto 0 auto;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition: all .3s ease;
    @include m.desktop {
        &:hover{
            cursor: pointer;
            transform: scale(.98);
        }
    }
  }
  &__enlace{
    margin-top: 2rem;
  }
}
