@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  min-height: 40rem;
  background-image:
    image-set(
      url(../img/header.png) 1x,
      url(../img/header.avif) 1x,
      url(../img/header.webp) 1x
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include m.tablet {
    background-position: right;
    display: flex;
    align-items: center;
  }

  &__contenido {
    height: 100%;
  }
  &__logo {
    @include m.texto-fluido(1rem, 3rem);
    color: v.$azul;
    font-weight: v.$delgada;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0 0 0 3rem;
    padding: 0;
  }
}

.navegacion {
  background-color: v.$gris-oscuro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  &__enlace{
    color: v.$blanco;
    padding: 1rem;
    font-weight: v.$delgada;
    transition: all 0.3s ease;
    display: inline-block;
    width: 100%;
    text-align: center;
    @include m.tablet {
      width: auto;
      &--activo{
        background-color: darken(v.$azul, 15);
        color: v.$blanco;
      }
      &:hover {
        background-color: darken(v.$azul, 15);
        color: v.$blanco;
      }
    }
  }
}
