@use "base/variables" as v;
@use "base/mixins" as m;

.table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  display: block;
  overflow-x: scroll;
  @include m.tablet {
    display:inline-table;
  }
  &__caption {
    margin-bottom: 5rem;
  }
  &__thead {
    background-color: v.$gris-oscuro;
  }
}

.thead__dato {
  text-align: center;
  padding: 1rem;
  color: v.$amarillo;
}
.tbody__fila:nth-child(even) {
  background-color: darken(v.$gris-claro, 3);
}
.tbody__dato:nth-child(2){
  text-align: justify;
}
.tbody__dato {
  text-align: center;
  font-weight: v.$delgada;
  font-size: 1.5rem;
  padding: 1rem;
  line-height: 1.7;

  &-enlace{
    
    color: v.$blanco;
    background-color: v.$gris-oscuro;
    padding: 1rem;
    transition: all .3s ease;
    &:hover{
      color: v.$amarillo;
    }
  }
}
