@use "base/variables" as v;
@use "base/mixins" as m;

.header-datacamp {
  display: none;
  @include m.tablet {
    min-height: max-content;
    display: block;
    img {
      height: auto;
      width: 100%;
    }
  }
}

.datacamp {
  &__titulo {
    background-color: #fbab18;
    width: 100%;
    margin-top: -0.5rem;
    padding: 2rem;
    color: v.$blanco;
  }
  &__contenedor {
    @include m.contenedor;
  }
  &__texto {
    text-align: justify;
    line-height: 3rem;
    &--nota {
      font-style: italic;
      text-align: center;
    }
  }
}

.texto-grande {
  text-transform: uppercase;
  font-weight: v.$bold;
  color: darken(v.$azul, 15);
}
