@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
    background-color: v.$gris-oscuro;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7rem;
  &__texto {
    @include m.texto-fluido(1rem, 2rem);
    color: v.$blanco;
    font-weight: v.$delgada;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0 0 0 3rem;
    padding: 0;
  }
}
