@use "base/variables" as v;
@use "base/mixins" as m;

.datacamp-informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &__item {
    @include m.tablet {
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
    }
  }
  &__texto {
    font-style: italic;
    text-align: center;
  }
}
