@use 'base/variables' as v;
@use 'base/mixins' as m;

.notas{
    @include m.contenedor-sm;
    margin-top: 2rem;
    &__lista{
        @include m.resetear-lista;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__nota{
        line-height: 3rem;
        text-align: justify;
        font-weight: v.$bold;
        font-style: italic;
    }
    &__relacion{
        font-weight: v.$bold;
    }
}