@use "base/variables" as v;
@use "base/mixins" as m;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$gris-claro;
  border-radius: 0.5rem;
  padding: 3rem;

  &__imagen {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &__titulo {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2.5rem;
    color: v.$azul;
  }
  &__descripcion {
    display: none;
    @include m.tablet {
      text-align: justify;
      display: block;
      line-height: 3rem;
      font-weight: v.$delgada;
      font-size: 1.6rem;
    }
  }
}
