@use "base/variables" as v;
@use "base/mixins" as m;

.academia__contenedor {
  @include m.contenedor;
}

.parrafo {
  @include m.tablet {
    @include m.grid(2, 0);
    margin-bottom: 5rem;
  }

  &__texto {
    align-self: center;
    text-align: justify;
    line-height: 3rem;
    font-weight: v.$delgada;
    font-size: 1.6rem;
  }
  &__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
    }
  }
  .imagen-sm {
    width: 40rem;
  }
}

.parrafo-colum{
    margin-top: 5rem;
    
    .imagen-sm{
        width: 50rem;
    }
}