@use "base/variables" as v;
@use "base/mixins" as m;

.curso-ofrecido {
  &__card {
    margin-top: 2rem;
  }
  &__header {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.desktop {
      height: 40rem;
    }
    &--rs {
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.685), rgba(30, 67, 113)),
        url(../img/curso-rs2.webp);
    }
    &--it {
      background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.685), rgba(30, 67, 113)),
        url(../img/curso-it.webp);
    }
    &--otros {
      background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.685), rgba(30, 67, 113)),
        url(../img/cursos-otros.webp);
    }
  }
  &__titulo {
    color: v.$blanco;
    text-transform: uppercase;
    @include m.desktop {
      font-size: 5rem;
    }
  }
  &__detalles {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__lista {
    @include m.resetear-lista;
    padding: 2rem;
    &--rs {
      list-style-type: "🌐 ";
    }
    &--it {
      list-style-type: "🔧 ";
    }
    &--otros {
      list-style-type: "🖥️ ";
      @include m.tablet {
        @include m.grid(2, 1rem);
        align-items: center;
        padding: 4rem;
      }
    }
  }
  &__lista-curso {
    font-size: 2.5rem;
    &--row {
      @include m.tablet {
        grid-column: span 2;
        text-align: center;
      }
    }
  }
  &__curso {
    text-align: justify;
    margin-bottom: .5rem;
    &--otros {
      @include m.tablet {
        width: 50%;
        justify-self: center;
      }
    }
  }
}
