@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  min-height: 30rem;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  @include m.tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__titulo {
    @include m.texto-fluido(1rem, 3rem);
    color: v.$amarillo;
    font-weight: v.$delgada;
    letter-spacing: 0.3rem;
    text-align: center;
    font-weight: v.$bold;
  }
  &__figure {
    width: 30rem;
    height: auto;
    @include m.tablet {
      width: 50rem;
      height: auto;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
}